body{
     background-color: #f5a029;
}
 .header{
     position: fixed;
     width: 1280px;
     height: 130px;
     top: 0;
     left: 0;
}
ul{
     list-style-type: none;
     margin: 0px;
     padding: 0px;
     margin-right: 10px;
     overflow: hidden;
     background-color: #983b16;
     text-align: center;
     align-content: center;
     border-radius: 5px;
     align-content: center;
}
li{
     float: left;
     align-content: center;
}
li a{
     color: white;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: large;
}
li a, .dropbtn{
     color: cornsilk;
     display:inline-block;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }
 li a:hover, .dropdown:hover .dropbtn{
     background-color: #e55d1b;
 }
 li.dropdown{
     display: inline-block;
 }
 .dropdown-content{
     display: none;
     position: absolute;
     background-color: #983b16;
     min-width: 160px;
     box-shadow: 0px 8px 16px black;
     z-index: 1;
 }
 .dropdown:hover .dropdown-content{
     display: block;
     background-color: #f5a029;
 }
 .dropdown-content a{
     color: cornsilk;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
 }
 .img{
     margin-left: 30px;
     align-content: center;
     border: 5px solid #f5a029;
     margin-bottom: 10px;
     border-radius: 2px;
     padding: 3px;
     margin-top: 8px;
}
 /* Left Column */
/* Side Bar */
.column{
     float: left;
     padding: 0px 10px;
 }
.imgg{
     margin-left: 30px;
     border: 5px solid cornflowerblue;
     margin-bottom: 10px;
     border-radius: 5px;
     padding: 3px;
     margin-top: 10px;
}
.imggg{
     margin-left: 30px;
     border: 5px solid cornflowerblue;
     margin-bottom: 10px;
     border-radius: 5px;
     padding: 3px;
     margin-top: 10px;
}
.imgggg{
     margin-left: 30px;
     border: 5px solid cornflowerblue;
     margin-bottom: 10px;
     border-radius: 5px;
     padding: 3px;
     margin-top: 10px;
}
 /* Left Column */
.column.side{
     width: 280px;
     height: 2000;
     background-color: cornsilk;
     color: #983b16;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     border-radius: 20px;
     border: 2px solid #983b16;
     align-content: center;
     margin-top: 10px;
}
/* Middle Bar */
.column.middle{
     width: 1170px;
     height: 2000;
     background-color: #983b16;
     color: cornsilk;
     margin-left: 10px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin-top: 10px;
     border-radius: 20px;
     font-size: x-large;
     align-content: center;
 }